h3{
  margin: 20px 0 !important;
}
main{
  margin: auto;
  max-width: 640px;
}
menu{
  margin:0;
  padding:0;
  li{
    &:first-child +li.element-divider.wide{
      width: 100% !important;
    }
  }
}
.navigation-bar-content{
  li{
    display: table-cell !important;
    float: none !important;
    &:hover{
      a{
        color: white;
      }
    }
  }
  a{
   white-space: nowrap;
   &:hover{
     opacity: 0.7;
   }
  }
}
table{
  border: solid 2px #ccc;
  tbody tr{
    &:first-child{
      background-color: #eee;
      border-bottom: solid 1px #999;
    }
    td:first-child{
      text-align: right;
      &+td +td{
        text-align: center;
      }
    }
  }
  td{
    border-bottom: dotted 1px #ccc;
    padding: 4px 6px;
  }
}
.tdActions{
  background-repeat: no-repeat;
  background-position: 2px 3px;
  opacity: 0.5;
  width: 20px;
}
th:nth-child(5),
td:nth-child(5){
  background-image: url(pix/edit.png);
  .tdActions;
}
th:nth-child(6),
td:nth-child(6){
  background: url(pix/trash.png) no-repeat 2px 3px;
  .tdActions
}
td{
  &:nth-child(5),
  &:nth-child(6){
    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
}